body {
    text-align: center;
}

.content-wrapper {
    width: 800px;
    margin: 10px auto;
    text-align: left;
}

.index-searchbox {
    margin: 5px;
    padding: 5px;
	width: 200px;
	position: fixed;
	right: 100px;
}

.index-list {
	width: 550px;
}

.list-item {
    border: 1px solid #ccc;
    padding: 2px;
    margin: 4px;
    background: #eee;
}
    .list-item-title {
        float: left;
    }
    .list-item-tools {
        float: right;
    }

mark {
    border: 1px solid #999;
    font-size: 70%;
    text-transform: uppercase;
    padding: 1px;
    margin: 1px 3px;
    background: #ccc;
    color: #777;
}

.clear {
    clear: both;
}

