<div id="report-index-search" class="index-searchbox">
    filter:
    <br />
    
    <input type="text" data-search="name"/>
    <br />
    <input type="checkbox" data-search="public" checked="checked"/>public 
    <br />
    <input type="checkbox" data-search="private" checked="checked"/>private 
</div>
<a href="#new">add new</a>
<div id="report-index" class="index-list">
</div>
