<div class="list-item-title">
    {{= name }}
    <mark>{{= is_public ? 'public' : 'private' }}</mark>
</div>
<div class="list-item-tools">
    <a href="#edit/{{= id }}">edit</a>
    <a href="#">delete</a>
</div>
<div class="clear"></div>
